@model Blog.Models.Mail
@{
    ViewBag.Title = "Contact me";
}

<div class="container">
    <div class="well">

        <h2>@ViewBag.Title</h2>
        
        @using (Html.BeginForm("Send", "Mail", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Please use the following form to send me an email</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">

                @Html.LabelFor(m => m.Name, new { @class = "col-sm-4 control-label" })

                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Subject, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Message, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-4">
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @rows = "7" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <input type="submit" class="btn btn-default" value="Send" />
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


